<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/my_style.css'%}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Registration Form</h1>
    <form action="index.html" method="post">
Name: <input type="text" name="" value=""><br>
Age: <input type="text" name="" value=" "><br>
Gender: <input type="text" name=" " value=""><br>
email: <input type="text" name="" value=""><br>
pno: <input type="text" name="" value=""><br>
<button type="button">Submit</button>
    </form>
    <br>
<h2> {{insert_me}} </h2>
<br>
  <img src="{%static 'image/img.jpg' %}" alt="img not found">

</body>
</html>